*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70vh;
    height: 100%;
    background-color: rgb(173, 173, 182);
    margin-top: 3%;
    margin-left: 30%;
    border-radius: 3%;
}
.form{
    margin: 20px;
    width: 60vh;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    border: 1px solid rgb(0, 0, 0);
}
.input{
    display: flex;
    width: 100%;
    padding-left: 10px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;  
}
.button{
    margin-top: 10px;
    float: right;
    text-transform: uppercase;
    cursor: pointer;
}
.heading{
margin-top: 5px;
  margin-bottom: -15px;
  color: #1e8b42;
  float: right;
}
label{
    margin-left: 10px;
    font-weight: 600;
}
.active {
    color: red;
    font-weight: bold;
  }
  table{
    border-radius: 2px;
    border-collapse: collapse;
    box-shadow: 0 0 0 2px black;
    overflow: hidden;
    width: 100%;
    text-align: center;
}
thead{
    font-size: 1rem;
    background-color: rgb(94, 94, 179);
    color: white;   
 }

td{
    font-size: 1rem;
    line-height: 1.6;   
}
th,td{
    padding: 1rem;
    line-height: 1; 
}
.td{
  border-width: 0px;
  border-bottom: 1px solid;
   
}

/* Dilog Box (PopUp Box )Style */
.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .dialog {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
  }
  
  .dialog h2 {
    margin-top: 0;
  }
  
  .dialog-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .dialog-buttons button {
    margin-left: 10px;
  }
  .btn-i{
    color: black;
    cursor: pointer;
  }
  .btn-icon:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.2);
  }
  .btn-icon-1:hover{
    color: blue;
    transform: scale(1.2);
  }

  
/* CSS for pagination */
.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.Pagination button {
  background-color: #f5f5f5;
  border: none;
  padding: 8px 12px;
  margin: 0 4px;
  font-size: 14px;
  cursor: pointer;
}

.Pagination button.active {
  background-color: #007bff;
  color: #fff;
}

.Pagination button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

